<h3>Create new post below:</h3>

<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="post[title]">
  </label>

  <br><br>

  <label>URL
    <input type="text" name="post[url]">
  </label>

  <br><br>

  <label>Content
    <textarea name="post[content]"></textarea>
  </label>

  <br><br>

  <label>Subs:</label>
  <br>
  <input type="hidden" name="post[sub_ids][]">
  <% Sub.all.each do |sub| %>
    <label>
      <input type="checkbox" 
        name="post[sub_ids][]" 
        value="<%= sub.id %>"
        <%= "checked" if @post.sub_ids.include?(sub.id) %>>
      <%= sub.name %>
    </label>
    <br>
  <% end %>

  <br> 

  <input type="submit" value="Submit my post!">
  
</form>